@import "tailwindcss";

@import "../styles/tokens.css";

html,
body {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

